<% if !@teams.empty? %>
<h4><%= @teams.count  %> <%= @teams.count > 1 ? "results:" : "result:" %></h4>
  <div>
    <h4>Teams</h4>
    <ol>
      <% @teams.each do |team| %>
      <li><%= team.team_name %></li>
      <% end %>
    </ol>
  </div>
  <div>
    <%= link_to "Home", root_path %>
  </div>
<% else %>
  <h4>Sorry, we can't find what you're looking for.</h4>
<% end %>