<div class="container">
  <h1 align="center">List of Teams</h1>
  <table border="1" style="width:85%" align="center">
    <colgroup>
      <col style="width: 25%; background-color:lightblue"  align="center">
      <col style="background-color:lightgrey">
    </colgroup>
    <tr>
    <th style="background-color:grey">Team: </th>
    <th style="background-color:grey">Sport: </th>
    <th style="background-color:grey">Members: </th>
    <th style="background-color:grey">Info: </th>
    </tr>
    <% @teams.each do |team| %>
    <tr>
      <td align="center" style="height: 30px"><%= team.team_name %></td>
      <td align="center">
         <% team.sports.each do |sport| %>
            <%= sport.name %>
         <% end %>
       </td>
      <td align="center">
        <% team.players.each do |player| %>
          <%= player.username %>,
        <% end %>
      <td><%= team.info %></td>
    </tr>
    <% end %>
  </table>
</div>