<div>
  <h1 align="center">List of Teams</h1>
  <table border="1" style="width:75%" align="center">
    <% @teams.each do |team| %>
    <tr>
      <td>Name: <%= team.name %></td>
      <td>Info: <%= team.info %></td>
    </tr>
    <% end %>
  </table>
</div>