===============================================

Hi, <%= @player.username %>:
<%= @from_player.username %> is interested in joining your team!
Their email is: <%= @from_player.email %> if you'd like to contact them. Alternatively, you can find them here <a href="#"></a>

Have a nice day!

The team at TeamMatch.