<div>
  <span>I am looking for</span>
    <select>
    <option value="athletes">athletes</option>
    <option value="teams">teams</option>
    </select>
  <span>who's position is:</span>
  <%  %>

</div>