<h2 class="page-notice">Welcome back <%= current_player %>! </h2>

<div class="inner-container">
  <div class="profile-picture"></div>
  <div class="inner-container">
    <h3>Positions</h3>
<!--     TODO: Swap out p tags for a ruby loop to display all positions
 -->    <p>Goalkeeper</p>
  </div>

  <div class="inner-container">
    <h3>Sports</h3>
    <p>Soccer</p>

  </div>

  <div class="inner-container">
    <h3>Teams</h3>
    <p>Chivas</p>
    <p>Mexico</p>
  </div>

  <div class="inner-container">
    <h3>Info</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non facilisis velit. Phasellus suscipit sem a arcu interdum lobortis. Nam nec quam elit. Donec at dapibus eros. Quisque lobortis sagittis dolor, sit amet tempor lacus venenatis non. Nullam non vestibulum massa. Nulla facilisi. Aenean eleifend ante dolor. Pellentesque laoreet sodales ligula, eu convallis eros tempus nec. Aenean justo nunc, mollis eget accumsan quis, pretium ac metus.</p>
  </div>
<div class="buttons">
  <%= button_to "See my Work", root_path, method: :get, class: "button" %>
</div>