/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.profile-picture {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  border: 2px solid black;
  background-color: #257011;
  float: center;
}

.page-notice {
  background-color: #2D7996;
  text-align: center;

}

.container {
  border: 2px solid black;
  padding: 1em;
}

.inner-container {
  border: 2px solid black;
  padding: 2em;
}

.button {
  background-color: #BF6D15;
  padding: 1em;
  border-radius: .5em;
}

.original-homepage {
  padding-left: 3em;
  padding-right: 3em;
}

#athlete-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#athletes-positions-search {
  padding-left: 3em;
  padding-right: 3em;
}


#athletes-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#teams-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#team-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#logged-in-btns {
  margin: 1em;
}

#logged-out-btns {
  margin: 1em;
}

.jumbotron {
  padding-left: 3em;
  padding-right: 3em;
}

.navbar-brand {
  margin-bottom: 20px;
}