.page-notice {
  background-color: #2D7996;
  text-align: center;

}


#athlete-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#athletes-positions-search {
  padding-left: 3em;
  padding-right: 3em;
}


#athletes-location {
  padding-left: 3em;
  padding-right: 3em;
}

#teams-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#team-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#logged-in-btns {
  margin: 1em;
}

#logged-out-btns {
  margin: 1em;
}

.alert.alert-error {
  margin-left: 3em;
  margin-right: 3em;
}

.alert.alert-success {
  margin-left: 3em;
  margin-right: 3em;
}

.jumbotron {
  background-color: white;
  color: black;
  padding-top: 10em;
  padding-bottom: 10em;
  margin: none;
  font-family: 'Josefin Slab', serif;
}

html
{
    height: 100%;
}

.map-container {
  border: black solid 1px;
}

.btn.btn-lg {
  background-color: #84C68C;
  color: white ;
}

.btn.btn-lg:hover {
  color: white;
}

.container-fluid {
  margin-left: 3em;
}

.media-resource-description {
   font-size: 25px;
 }

 h2.player-profile {
   font-size: 50px;
 }

 h3.player-profile {
   font-size: 35px;
}

h3.text-center {
  font-family: 'Playfair Display', sans-serif;
}

p.text-center {
  font-family: 'Josefin Sans', serif;
}

p.player-data {
  font-size: 25px
}

form.button_to {
  display: inline-block;
}

input.btn.btn-default {
  display: inline-block;
}

.youtube {
  margin-top: 10em;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5em;
}

.image {
  margin-top: 10em;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5em;
  max-height: 50px;
  max-width: 50px;
}

.soundcloud {
  margin-top: 10em;
  max-width: 600px;
  max-height: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5em;
}

.athlete-radio-button {
  display: inline-block;
  padding: 1em;
}

.teams-radio-button {
  display: inline-block;
  padding: 1em;
}

input.btn.btn-lg {
  background-color: white;
  border: 1px solid black;
  color: black;
}

a.btn.btn-primary{
  background-color: black;
  color: white;
  border: 1px solid white;
}


.alert-success {
  background-color: white;
  color: black;
  border: none;
}

.map-title {
  text-align: left;
}

a.site-title {
  font-size: 50px;
  color: white;
  font-family: 'Playfair Display', sans-serif;
}