@import "bootstrap-sprockets";
@import "bootstrap";

.profile-picture {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  border: 2px solid black;
  background-color: #257011;
  float: center;
}

.page-notice {
  background-color: #2D7996;
  text-align: center;

}

.button {
  background-color: #BF6D15;
  padding: 1em;
  border-radius: .5em;
}

.original-homepage {
  padding-left: 3em;
  padding-right: 3em;
}

#athlete-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#athletes-positions-search {
  padding-left: 3em;
  padding-right: 3em;
}


#athletes-location {
  padding-left: 3em;
  padding-right: 3em;
}

#teams-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#team-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#logged-in-btns {
  margin: 1em;
}

#logged-out-btns {
  margin: 1em;
}

.alert.alert-error {
  margin-left: 3em;
  margin-right: 3em;
}

.alert.alert-success {
  margin-left: 3em;
  margin-right: 3em;
}

.jumbotron {
  padding-left: 3em;
  padding-right: 3em;
  background-color: #2B2D2D;
  color: #EB6A91;
}

.navbar-brand {
  padding-bottom: 20px;
}

html
{
    height: 100%;
}

.map-container {
  border: black solid 1px;
}

.profile-document {
  padding: 2em;
}

.btn.btn-default {
  margin-left: 1.5em;
}

.btn.btn-lg {
  margin-top: 20px;
  color: #2B2D2D ;
}

.container-fluid {
  margin-left: 3em;
}
