.profile-picture {
  border-radius: 50%;
  width: 8em;
  height: 8em;
  border: 2px solid black;
  background-color: #257011;
  float: center;
}

.page-notice {
  background-color: #2D7996;
  text-align: center;

}

.container {
  border: 2px solid black;
  padding: 1em;
}

.inner-container {
  border: 2px solid black;
  padding: 2em;
}

.button {
  background-color: #BF6D15;
  padding: 1em;
  border-radius: .5em;
}

.original-homepage {
  padding-left: 3em;
  padding-right: 3em;
}

#athlete-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#athletes-positions-search {
  padding-left: 3em;
  padding-right: 3em;
}


#athletes-location {
  padding-left: 3em;
  padding-right: 3em;
}

#teams-sorted {
  padding-left: 3em;
  padding-right: 3em;
}

#team-search-sport {
  padding-left: 3em;
  padding-right: 3em;
}

#logged-in-btns {
  margin: 1em;
}

#logged-out-btns {
  margin: 1em;
}

.jumbotron {
  padding-left: 3em;
  padding-right: 3em;
}

.navbar-brand {
  margin-bottom: 20px;
}

.drop-shadow {
  box-shadow: 10px 10px 5px #5A5A5A;
}

nav.navbar {
  margin-bottom: 0px;
  border: none;
}

.container-fluid {
  background-color: #306E4B;
}

.homepage {
  background-color: grey;
}

html
{
    height: 100%;
    background-color: grey;
}

nav.navbar.container-fluid#logged-in-btns.navbar-text{
  color: none;
}

.navbar-text.navbar-right a:link{
  color: #314666;
}
