<!DOCTYPE html>
<html>
<head>
  <title>Teammatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href="/">TeamMatch</a>
    <% if logged_in? %>
      <a href="#"><p>current_player.username</p></a>
      <a href="#"><p>Log Out</p></a>
    <% else %>
      <span class="right-header"><a href="#">Log In</a></span>
      <span class="right-header"><a href="#">Sign Up</a></span>
    <% end %>
</header>

<%= yield %>

</body>
</html>
